@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-brand: #10b981;
  --color-brand-dark: #059669;
  --color-accent: #f97316;
  --color-accent-dark: #ea580c;
}
